/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./../fonts/robotocyrilliclatinregular.woff2") format("woff2"),
  url("./../fonts/robotocyrilliclatinregular.woff") format("woff");
}
/* roboto-500 - cyrillic_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./../fonts/robotocyrilliclatin500.woff2") format("woff2"),
  url("./../fonts/robotocyrilliclatin500.woff") format("woff");
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./../fonts/robotocyrilliclatin700.woff2") format("woff2"),
  url("./../fonts/robotocyrilliclatin700.woff") format("woff");
}
:root {
  --main-font-family:"Roboto";
  --main-heading-font-weight: 700;
  --main-subtitle-font-weight: 500;
  --main-text-font-weight: 400;
  --main-text-font-color: #333;
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
img {
  display: block;
}
body {
  margin: 0;
  height: 100%;
  font-family: "Roboto", "Verdana", "Arial" sans-serif;
}
main {
  flex-grow: 1;
}
.container {
  max-width: 1370px;
  width: 100%;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

/* header part start */
.header-sec {
  padding-bottom: 20px;
}
.header-sec__bg {
  background-image: url("./../images/introbg.png");
}
.header-sec__buttom-bg {
  background-image: url("./../images/coffeebg.png");
  background-size: 710px 696px;
  background-position: calc(50% + 485px) calc(50% + 52px);
  background-repeat: no-repeat;
}
.header-sec__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}
.nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.nav__item {
  margin-right: 40px;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  display: inline-block;
  font-family: var(--main-font-family);
  font-weight: var(--main-heading-font-weight);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  color: var(--main-text-font-color);
  text-transform: uppercase;  
  text-decoration: none;
}
.header-sec__buttom{
  position: relative;
  display: flex;
}
/* .header-sec__buttom{
  background-image: url("./../images/coffeebg.png");
  background-size: 710px 696px;
  background-position: calc(50% + 485px) calc(50% - 52px);
  background-repeat: no-repeat;
} */
.header-sec__buttom::after {
  position: absolute;
  top: -60px;
  right: 450px;
  display: block;
  background-image: url("./../images/alfredlogo.png");
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}
.header-sec__buttom-wrapper {
  max-width: 464px;
  width: 100%;
  padding-top: 116px;
  padding-bottom: 249px;
}
.header-sec__buttom-heading-wrapper {
  max-width: 447px;
  width: 100%;
}
.header-sec__buttom-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: var(--main-font-family);
  font-weight: var(--main-heading-font-weight);
  font-size: 64px;
  line-height: 75px;
  color: var(--main-text-font-color);  
}
.header-sec__buttom-text {
  margin-top: 0;
  margin-bottom: 34px;
  font-family: var(--main-font-family);
  line-height: 24px;
  color: var(--main-text-font-color);  
  mix-blend-mode: normal;  
}
.header-sec__buttom-btn {
  display: inline-block;
  padding: 16px 24px;
  font-family: var(--main-font-family);
  font-weight: var(--main-subtitle-font-weight);
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  font-variant: all-small-caps;
  color: #fff;
  mix-blend-mode: normal; 
  background: #0a775f;
  border-radius: 100px;   
}
/* header part finish */

/* main part start */

/* collection section start */
.collection__bg {
  background-image: url("./../images/collectionbg.png");
  width: 1440px;
  margin: 0 auto;
}
.collection__wrapper {
  position: relative;
  width: 1115px;
  margin: 0 auto;
}
.collection__wrapper::before  {
  position: absolute;
  top: 80px;
  left: -258px;
  width: 400px;
  height: 300px;
  background-image: url("./../images/leafstart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}
.collection__heading {
  margin-top: 0;
  margin-bottom: 80px;
  padding-top: 50px;
  font-family: var(--main-font-family);
  font-weight: var(--main-heading-font-weight);
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  font-variant: all-small-caps;
  color: var(--main-text-font-color);  
}
.collection__list {
  position: relative;
  display: flex;
  flex-wrap: wrap ;
  align-items: center;
  max-width: 1114px;
  width: 100%;
  margin-bottom: 50px;
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.collection__list::before {
  position: absolute;
  bottom: 170px;
  left: -330px;
  width: 316px;
  height: 269px;
  background-image: url("./../images/leafmiddle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}
.collection__list::after {
  position: absolute;
  right: -330px;
  width: 392px;
  height: 477px;
  background-image: url("./../images/leaflast.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}
.collection__item {
  display: flex;
  align-items: center;
  max-width: 1115px;
  width: 100%;
}
.collection__item:nth-child(even) {
  flex-direction: row-reverse;
}
.collection__inner-wrapper {
  max-width: 380px;
}
.first-img {
  margin-right: 117px;
}
.second-img {
  margin-left: 117px;
}
.collection__inner-wrapper:last-of-type {
  max-width: 400px;
}
.collection__subheading {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: var(--main-font-family);
  font-weight: var(--main-subtitle-font-weight);
  font-size: 48px;
  line-height: 56px;
  font-variant: all-small-caps;  
  color: var(--main-text-font-color);  
}
.collection__text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--main-font-family);
  font-weight: var(--main-text-font-weight);
  font-size: 22px;
  line-height: 34px;  
  color: var(--main-text-font-color);  
}
/* collection section finish */

/* reason section start */
.reason {
  background-image: url("./../images/stepbg.png");
  width: 1440px;
  margin: 0 auto;
}
.reason__top {
  width: 580px;
  margin: 0 auto;
}
.reason__heading {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 50px;
  font-family: var(--main-font-family);
  font-weight: var(--main-heading-font-weight);
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  font-variant: all-small-caps;
  color: #fff;  
}
.reason__text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--main-font-family);
  font-weight: var(--main-text-font-weight);
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  mix-blend-mode: normal;
  opacity: 0.8;  
}
.reason__list {
  position: relative;
  top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;
  list-style: none;  
}
.reason__item {
  width: 433px;
}
.reason__item:first-child {
  position: relative;
}
.reason__item:first-child:before {
  position: absolute;
  top: -50px;
  left: -50px;
  display: block;
  background-image: url("./../images/bestgroup.svg");
  width: 140px;
  height: 144px;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}
.reason__inner-wrapper {
  width: 377px;
}
.active {
  width: 334px;
}
.reason__subheading {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: var(--main-font-family);
  font-weight: var(--main-subtitle-font-weight);
  font-size: 30px;
  line-height: 35px;
  font-variant: all-small-caps;
  color: var(--main-text-font-color);  
}
.reason__inner-text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--main-font-family);
  font-weight: var(--main-text-font-weight);
  font-size: 18px;
  line-height: 28px;
  color: var(--main-text-font-color);  
  
}
/* reason section finish */


/* steps section start */
.steps {
  background-image: url("./../images/stepbgimg.png");
  width: 1400px;
  margin: 0 auto;
}
.steps__heading {
  margin-top: 290px;
  margin-bottom: 80px;
  padding-top: 50px;
  font-family: var(--main-font-family);
  font-weight: var(--main-heading-font-weight);
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  font-variant: all-small-caps;
  color: #fff;  
}
.steps__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 60px;
  padding-left: 0;
  list-style: none;
}
.steps__list-wrapper::before {
  display: inline-block;
  margin-bottom: 20px;
  background-image: url("./../images/illustration.svg");
  background-repeat: no-repeat;
  width: 966px;
  height: 60px;
  content: "";
}
.steps__item {
  width: 433px;
  padding: 20px 20px 40px 20px;
  background-color: #f8f8f2;
}
.steps__item-num {
  display: block;
  margin-bottom: 45px;
  font-family: var(--main-font-family);
  font-weight: var(--main-text-font-weight);
  font-size: 64px;
  line-height: 75px;
  text-align: right;
  font-variant: all-small-caps;
  color: var(--main-text-font-color);
  opacity: 0.8;  
}
.steps__item-subtitle-wrapper {
  width: 231px;
}
.steps__item-subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: var(--main-font-family);
  font-weight: var(--main-subtitle-font-weight);
  font-size: 40px;
  line-height: 47px;
  font-variant: all-small-caps;
  color: var(--main-text-font-color); 
}
.steps__item-text-wrapper {
  width: 385px;
}
.steps__item-text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--main-font-family);
  font-weight: var(--main-text-font-weight);
  font-size: 18px;
  line-height: 28px;  
  color: var(--main-text-font-color); 
}
.steps__link {
  display: block;
  width: 193px;
  margin: 0 auto;
  padding: 16px 24px;
  font-family: var(--main-font-family);
  font-weight: var(--main-subtitle-font-weight);
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  font-variant: all-small-caps;
  color: #fff;
  background: #c99b67;
  border-radius: 100px;  
  mix-blend-mode: normal;  
}
.steps__link-wrapper {
  padding-bottom: 50px;
}
/* steps section finish */

/* main part finish */

/* footer part start */
.footer-sec {
  padding-top: 50px;
}
.footer__bg {
  background-image: url("./../images/footerbg.png");
}
.footer-sec__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 65px;
}
.footer__list{
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.footer__item {
  margin-right: 40px;
}
.footer__item:last-child {
  margin-right: 0;
}
.footer__link {
  font-family: var(--main-font-family);
  font-weight: var(--main-heading-font-weight);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--main-text-font-color);  
  text-decoration: none;
}
.footer__app-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.footer__app-item {
  margin-right: 30px;
}
.footer__app-item:last-child {
  margin-right: 0;
}
/* footer part finish */

/* about header start */
.about-sec {
  padding-bottom: 20px;
}
.about-sec__bg {
  background-image: url("./../images/introbg.png");
}
.about-sec__buttom-bg {
  background-image: url("./../images/aboutintrobg.png");
  background-size: 710px 596px;
  background-position: calc(50% + 485px) calc(50% + 52px);
  background-repeat: no-repeat;
}
.about-sec__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}
.nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.nav__item {
  margin-right: 40px;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  display: inline-block;
  font-family: var(--main-font-family);
  font-weight: var(--main-heading-font-weight);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  color: var(--main-text-font-color);
  text-transform: uppercase;  
  text-decoration: none;
}
.about-sec__buttom{
  position: relative;
  display: flex;
}
.about-sec__buttom::after {
  position: absolute;
  top: -63px;
  right: 449px;
  display: block;
  background-image: url("./../images/alfredlogo.png");
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}
.about-sec__buttom-wrapper {
  max-width: 372px;
  width: 100%;
  padding-top: 116px;
  padding-bottom: 261px;
}
.about-sec__buttom-heading-wrapper {
  max-width: 447px;
  width: 100%;
}
.about-sec__buttom-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: var(--main-font-family);
  font-weight: var(--main-heading-font-weight);
  font-size: 64px;
  line-height: 75px;
  color: #000;  
}
.about-sec__buttom-text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--main-font-family);
  line-height: 24px;
  color: #000;  
  mix-blend-mode: normal;  
}
.about-sec__buttom-btn {
  display: inline-block;
  padding: 16px 24px;
  font-family: var(--main-font-family);
  font-weight: var(--main-subtitle-font-weight);
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  font-variant: all-small-caps;
  color: #fff;
  mix-blend-mode: normal; 
  background: #0a775f;
  border-radius: 100px;   
}
/* about header finish */

/* commitment section start */
.commitment {
  background-image: url("./../images/commitmentbg.png");
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.commitment__wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.commitment__wrapper::before {
  position: absolute;
  top: 80px;
  left: -178px;
  width: 400px;
  height: 300px;
  background-image: url("./../images/leafstart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}
.commitment__left {
  display: block;
  background-image: url("./../images/cup.png");
  width: 360px;
  height: 364px;  
  margin-left: 185px;
  background-repeat: no-repeat;
}
.commitment__right {
  display: inline-block;
  width: 626px;
  margin-left: auto;
  padding-top: 160px;
  padding-bottom: 200px;
}
.commitment__heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: var(--main-font-family);
  font-weight: var(--main-heading-font-weight);
  font-size: 48px;
  line-height: 56px;
  font-variant: all-small-caps;
  color: #000;  
}
.commitment__text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--main-font-family);
  font-weight: var(--main-text-font-color);
  font-size: 18px;
  line-height: 30px;
  color: var(--main-text-font-color);  
}
/* commitment section finish */

/* quality section start  */
.quality {
  background-image: url("./../images/qualitybg.png");
  margin: 0 auto;
  margin-top: 160px;
  margin-bottom: 20px;
  max-width: 1440px;
  width: 100%;
}
.quality__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 118px;
}
.quality__heading-wrapper {
  width: 397px;
}
.quality__top {
  width: 639px;
}
.quality__heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: var(--main-font-family);
  font-weight: var(--main-heading-font-weight);
  font-size: 50px;
  line-height: 59px;
  font-variant: all-small-caps;
  color: #fff;  
}
.quality__text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--main-font-family);
  font-weight: var(--main-text-font-weight);
  font-size: 18px;
  line-height: 30px;
  color: #fff;  
  mix-blend-mode: normal;
  opacity: 0.8;
}
.quality__buttom {
  position: absolute;
  top: -80px;
  right: -30px;
  background-image: url("./../images/qualityimg.png");
  background-repeat: no-repeat;
  background-size: 550px 500px;
  width: 550px;
  height: 500px;
}
/* quality section finish  */

/* headquarters section start */
.headquarters {
  background-image: url("./../images/headquartersbg.png");
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}
.headquarters__wrapper {
  padding-top: 50px;
  padding-bottom: 100px;
}
.headquarters__heading {
  margin-top: 0;
  margin-bottom: 80px;
  font-family: var(--main-font-family);
  font-weight: var(--main-heading-font-weight);
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  font-variant: all-small-caps;
  color: #fff;  
}
.headquarters__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.headquarters__item {
  position: relative;
  width: 433px;
  height: 396px;
  padding: 187px 55px 40px 20px;
  background-color: #f8f8f2;
}
.headquarters__item:first-child {
  padding: 140px 55px 40px 20px;
}
.headquarters__item:first-child:before {
  position: absolute;
  top: 45px;
  right: 55px;
  display: block;
  width: 120px;
  height: 143px;
  background-image: url("./../images/uk.svg");
  background-repeat: no-repeat;
  background-size: 120px 143px;
  background-position: center;
  content: "";
}
.headquarters__item:nth-child(2):before {
  position: absolute;
  top: 45px;
  right: 55px;
  display: block;
  width: 120px;
  height: 120px;
  background-image: url("./../images/canada.svg");
  background-repeat: no-repeat;
  background-size: 120px 120px;
  background-position: center;
  content: "";
}
.headquarters__item:last-child:before {
  position: absolute;
  top: 45px;
  right: 55px;
  display: block;
  width: 120px;
  height: 91px;
  background-image: url("./../images/australia.svg");
  background-repeat: no-repeat;
  background-size: 120px 91px;
  background-position: center;
  content: "";
}
.headquarters__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: var(--main-font-family);
  font-weight: var(--main-subtitle-font-weight);
  font-size: 40px;
  line-height: 47px;
  font-variant: all-small-caps;
  color: var(--main-text-font-color);  
}
.headquarters__title-first {
  width: 230px;
}
.headquarters__address-link {
  display: block;
  margin-bottom: 8px;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: var(--main-text-font-weight);
  font-size: 18px;
  line-height: 28px; 
  color: #333333;  
  text-decoration: none;
}
.headquarters__address-link:last-of-type {
  margin-bottom: 0;
}
/* headquarters section finish */
.plan-sec__buttom-bg {
  background-image: url("./../images/planbg.png");
  background-size: 710px 596px;
  background-position: calc(50% + 485px) calc(50% + 52px);
  background-repeat: no-repeat;
}
.plan-sec__buttom-wrapper {
  max-width: 372px;
  width: 100%;
  padding-top: 116px;
  padding-bottom: 285px;
}
.plan-sec__buttom-heading-wrapper {
  width: 329px;
}
.plan-list {
  margin-bottom: 0;
  padding-bottom: 80px;
}
.steps__list-wrapper-plan::before {
  display: inline-block;
  width: 966px;
  height: 60px;
  margin-bottom: 20px;
  margin-top: 80px;
  background-image: url("./../images/illustration.svg");
  background-repeat: no-repeat;
  content: "";
}
/* coffee section start */
.coffee {
  width: 1400px;
  margin: 0 auto;
  margin-top: 20px;
  background-image: url("./../images/choise.png");
  background-repeat: no-repeat;
}
.coffee__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 50px 142px 50px 30px;
}
.coffee__wrapper::before {
  position: absolute;
  bottom: -25px;
  left: -200px;
  width: 400px;
  height: 300px;
  background-image: url("./../images/leafstart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}
.coffee__wrapper::after {
  position: absolute;
  top: 243px;
  right: -300px;
  width: 400px;
  height: 300px;
  background-image: url("./../images/leaflast.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}
.coffee__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.coffee__item:not(:last-child) {
  margin-bottom: 35px;
}
.coffee__item-link {
  display: inline-block;
  font-family: var(--main-font-family);
  font-weight: var(--main-subtitle-font-weight);
  font-size: 28px;
  line-height: 33px;
  font-variant: all-small-caps;
  color: #000;  
  text-decoration: none;
}
.coffee__item-link:hover {
  color: #555;
}
.coffee__bottom-list { 
  margin: 0;
  padding-left: 0;
  padding-bottom: 100px;
  list-style: none;  
}
.coffee__bottom-item:not(:last-child) {
  margin-bottom: 60px;
}
.coffee__bottom-label-wrapper {
  display: flex;
  justify-content: space-between;
}
.coffee__bottom-input:checked ~ .coffee__bottom-inner {
  background-color: #0a775f;
  color: #fff;
}
.coffee__bottom-summary {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-family: var(--main-font-family);
  font-weight: var(--main-heading-font-weight);
  font-size: 40px;
  line-height: 47px;
  font-variant: all-small-caps;
  color: #000;  
  list-style: none;
}
.coffee__bottom-summary::after {
  display: inline-block;
  width: 18px;
  height: 11px;
  margin-left: 55px;
  background-image: url("./../images/rowdown.svg");
  background-repeat: no-repeat;
  background-size: 18px 11px;
  content: "";
}
.coffee__bottom-inner {
  width: 208px;
  height: 220px;
  padding: 30px 16px 80px;
  background-color: #c8ddd2;
}
.coffee__bottom-inner-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: var(--main-font-family);
  font-weight: var(--main-heading-font-weight);
  font-size: 24px;
  line-height: 28px;
  font-variant: all-small-caps;
}
.coffee__bottom-inner-text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--main-font-family);
  font-weight: var(--main-text-font-weight);
  font-size: 18px;
  line-height: 24px;
}
.coffee__order-summary {
  width: 660px;
  margin-bottom: 20px;
  padding: 40px 20px;
  background-color: #c99b67;
}
.coffee__order-summary-title {
  margin-top: 0;
  margin-bottom: 14px;
  font-family: var(--main-font-family);
  font-weight: var(--main-text-font-weight);
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #fff;  
}
.coffee__order-summary-text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--main-font-family);
  font-weight: var(--main-subtitle-font-weight);
  font-size: 24px;
  line-height: 34px;
  color: #fff;
}
.coffee__order-summary-black {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--main-font-family);
  font-weight: var(--main-subtitle-font-weight);
  font-size: 24px;
  line-height: 34px;
  color: #333;  
}
.coffee__bottom-link {
  display: block;
  width: 175px;
  margin-left: auto;
  padding: 16px 24px;
  font-family: var(--main-font-family);
  font-weight: var(--main-subtitle-font-weight);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  font-variant: all-small-caps;
  background-color: #0a775f;
  border-radius: 100px;
  color: #fff;
}
/* coffee section finish */
